body {
    margin: 0;
}

header {
    background-color: #1F2937;
    padding: 20px;
    align-items: center;
}

header {
    display: flex;
}

h2 {
    text-align: center;
}

header>img {
    max-width: 10vw;
    max-height: 10vw;
}

.right-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}


.right-links>* {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
}

nav {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    padding: 20px;
}

nav>* {
    justify-self: center;
}

#content {
    display: flex;
    flex-direction: column;
}

#content>* {
    display: grid;
    grid-template: 1 / 4;
    justify-items: center;
}

#current_div {
    text-align: center;
    margin: 5%;
}

button {
    font-size: 16pt;
    padding: 5px;
    background-color: red;
    border-radius: 10%;
    border: 2px solid black;
}

#home {
    grid-column: 2;
}

#about {
    grid-column: 3;
}

#contact {
    grid-column: 4;
}